.banner {
    padding: 190px 0 50px;
    position: relative;
    overflow: hidden;
    height: auto;
    // background-image: url(/thescrapps/assets/img/bg/home-bg.jpg);
    background-color: $white;
    background-size: cover;
    display: flex;
    align-items: center;
 
    &-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            @include fontCalcSize(60, 32);
            color: $black;
            font-weight: 600;
            line-height: 1.2;
            margin: 0 0 20px 0;
            text-transform: uppercase;
        
            span{
                border-radius: 5px;
                background: $Pri-gred;
                padding: 5px 10px ;
                line-height: 1;
                display: inline-flex;
                color: $white;
                @include fontCalcSize(58, 28);
            }
        }
        p {
            @include fontCalcSize(22, 16);
            font-weight: 400;
            margin: 0 0 25px 0;
            color: $black;

            @media(max-width:575px) {
                margin: 0;
            }
        }
        &.sty1{
            align-items: flex-start;

            .comp-btn{
                margin-top: 15px;
            }
        }
    }
    .banner-img{
        width: 60%;
        margin: 40px auto 0;
        position: relative;

        img{
            width: 100%;
        }
    }

    @media (max-width: 1600px) {
        .banner-img{
            width: 70%;
        }   
    }

    @media(max-width:991px) {
        height: auto;
        padding: 140px 0 70px;
        .banner-img{
            margin: 40px auto 0;
            width: 50%;
        }

        &-content {
            margin: 0;
        }

        &.inner {
            height: auto;
        }
    }
    @media (max-width: 575px) {
        .banner-img{
            width: 100%;
        }
    }
    &.inner{
        padding: 190px 0 100px;
        min-height: 650px;
        @media (max-width: 991px) {
            min-height: auto;
        }
    }
}