// fonts family
$primaryFont: 'Poppins';
$secondaryFont: 'Poppins';

// colors
$white: #ffffff;
$black: #000000;
$black2: #1D1D1D;
$iPrimary: #7E30E1;
$iSecondary: #49108B;
$iBlack: #121212;
$iGray: #eeeeee;
$iGray1: #8F8F8F;
$iGray2: #fff9e9;
$iGray3: #fff9e9;
$iGray4: #F1F0F0;
$iGray5: #BFBFBF;

$Green: #885fe7;

$Pri-gred: linear-gradient(179deg, $iPrimary -10.77%, $iSecondary 83.62%);
$Pri-gred2: linear-gradient(166deg, $iPrimary -4.96%, $iSecondary 48.08%);
$Pri-gred3: linear-gradient(90deg, $iPrimary -16.97%, $iSecondary 88.9%);
$Pri-gred4: linear-gradient(90deg, $iPrimary 0.05%, $iSecondary 99.95%);

$iBlue: #1C2536;
$iGreen: #154933;
$iBlue2: #221242;